$bgColorRegister: #7A7A7A;
$bgBtnYellow: #FDDC5B;
$bgBtnHoverYellow: #006BDA;

// .dagoja-btn {
//     display: inline-block;
//     font-weight: 400;
//     color: #212529;
//     text-align: center;
//     vertical-align: middle;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     background-color: transparent;
//     border: 1px solid transparent;
//     padding: .375rem .75rem;
//     font-size: 1rem;
//     line-height: 1.5;
//     border-radius: .25rem;
//     transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
// }
// .dagoja-btn:focus {
//     outline: 0
// }
// .dagoja-btn:active {
//     color: #fff;
// }
// .dagoja-btn:hover {
//     color: #fff;
//     background: #fff;
// }

// Normal Button
.dagoja-btn {
    display: block;
    font-size: 1em;
    color: black;
    background: #fff;
    border: none;
    border-radius: 50px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.dagoja-btn:hover {
    background: $bgColorRegister;
    border: none;
    border-radius: 50px;
    color: #ffffff;
}
.dagoja-btn:focus {
    background: $bgColorRegister;
    border: none;
    outline: 0;
    box-shadow: none;
}
.dagoja-btn:active {
    background: $bgColorRegister !important;
    border: none;
    box-shadow: none !important;
}

// Register Button
.dagoja-btn-register {
    font-size: 1em;
    color: black;
    background: transparent;
    border: solid 1px black;
    border-radius: 50px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
}
.dagoja-btn-register:hover {
    background: $bgColorRegister;
    border: solid 1px $bgColorRegister;
    border-radius: 50px;
    color: #ffffff;
}
.dagoja-btn-register:focus {
    background: $bgColorRegister;
    border: solid 1px $bgColorRegister;
    outline: 0;
    box-shadow: none;
}
.dagoja-btn-register:active {
    background: $bgColorRegister !important;
    border: solid 1px $bgColorRegister !important;
    box-shadow: none !important;
}

// Normal Button
.dagoja-btn-yellow {
    font-size: 1em;
    color: black;
    background: $bgBtnYellow;
    border: none;
    border-radius: 50px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.dagoja-btn-yellow:hover {
    background: $bgBtnHoverYellow;
    border: none;
    border-radius: 50px;
    color: #ffffff;
}
.dagoja-btn-yellow:focus {
    background: $bgBtnHoverYellow;
    border: none;
    outline: 0;
    box-shadow: none;
}
.dagoja-btn-yellow:active {
    background: $bgBtnHoverYellow !important;
    border: none;
    box-shadow: none !important;
}
// @media (max-width: 968px) {
//     .dagoja-btn-yellow {
//         font-size: .8em;
//     }
//     .dagoja-btn-register {
//         font-size: .8em;
//     }
//     .dagoja-btn {
//         font-size: .8em;
//     }
// }
// @media (max-width: 842px) {
//     .dagoja-btn-yellow {
//         font-size: .6em;
//     }
//     .dagoja-btn-register {
//         font-size: .6em;
//     }
//     .dagoja-btn {
//         font-size: .6em;
//     }
// }
// @media (max-width: 766px) {
//     .dagoja-btn-yellow {
//         font-size: 1em;
//     }
//     .dagoja-btn-register {
//         font-size: 1em;
//     }
//     .dagoja-btn {
//         font-size: 1em;
//     }
// }
// @media (max-width: 520px) {
//     .dagoja-btn-yellow {
//         font-size: .7em;
//     }
//     .dagoja-btn-register {
//         font-size: .7em;
//     }
//     .dagoja-btn {
//         font-size: .7em;
//     }
// }