$section2BgColor: #FFFFFF;
$section2Color: #3F4952;

.section2 {
    padding: 20px;
    border: none;
    border-radius: 50px;
    color: $section2Color;
    font-family: Arial, Helvetica, sans-serif;
    background: $section2BgColor;   
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.45);
    z-index: 1;
    position: relative;
    margin-top: -60px;
    margin-bottom: -60px;
    // top: 10px;
    bottom: 10px;
    display: flex;
}

.content-section2 {
    display: block;
    // padding: 10px;
}