$section3RowBgColor: #F2F8F4;
$section3Color: #3F4952;

.content-section3 {
    padding-right: 50px;
}

.div-section3 {
    color: $section3Color;
    font-family: Arial, Helvetica, sans-serif;
    background: $section3RowBgColor;
    padding-top: 50px;
    padding-bottom: 10px;
}

@media (max-width: 766px) {
    .div-section3 {
        font-family: Arial, Helvetica, sans-serif;
        background: $section3RowBgColor;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .content-section3 {
        padding-right: 0;
    }
}