$navbarBgColor: #ffffff;
$navbarColor: #0c0f20;
$navBgHover: #ffd1b0;

.container {
  max-width: 1240px;
}

.navbar {
  background: $navbarBgColor;
  color: $navbarColor;
  padding-bottom: 0em;
  padding-top: 0em;
  box-shadow: 0px -8px 20px #000000;
  // border: 1px solid black;
}

.nav-link {
  padding: 1.1rem;
}

// .nav-link:hover {
//   opacity: .5;
//   border-bottom: solid 1px $navbarColor;
// }

.navbar-nav .nav-link {
  color: $navbarColor !important;
  // padding-left: .5rem !important;
  // padding-right: .5rem !important;
}
.nav-active {
  opacity:1;
  border-bottom: solid 1px $navbarColor;
  transition: border-buttom linear .5s;
}

.nav-button {
  color: $navbarColor;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
