
.carousel {
  height: 100%;
}
.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 10%;
  left: 10%;
  color: #fff;
  text-align: center;
  // width: 500px;
  top: 10%;
}
@media (max-width: 576px) {
  .carousel-caption {
    width: auto;
    height: auto;
  }
  .carousel-caption h3 {
    font-size: 1.4rem;
  }
}
@media (max-width: 412px) {
  .carousel-caption h3 {
    font-size: 1rem;
  }
}

.carousel-control-next, .carousel-control-prev {
    width: 3%;
    opacity: .5;
}

.carousel-inner {
  max-height: 400px;
}

.carousel .carousel-inner img {
  object-fit: cover;
}