$rowBgColor: #3F4952;

.content-section1 {
    padding-right: 50px;
}

.div-section1 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background: $rowBgColor;
    padding-top: 50px;
    padding-bottom: 100px;
}
@media (max-width: 766px) {
    .div-section1 {
        font-family: Arial, Helvetica, sans-serif;
        background: $rowBgColor;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .content-section1 {
        padding-right: 0;
    }
}

.icon-lists {
    list-style: none;
    padding-left: 0;
    // padding-top: 10px;
    // justify-content: center;
    // align-items: center;
}
.icon-list-item {
    margin-bottom: -10px;
}

.icon-list {
    width: 40px;
    height: 40px;
    position: relative;
    top: 11px;
    margin-right: 10px;
    color: #FDDC5B;
}

.icon-list-text {
    font-size: 1.2em;
    position: relative;
}

.button-place {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.button-place .button-item {
    padding-left: 10px;
    padding-right: 10px;
}